<ion-header>
  <ion-toolbar>
    <ion-title>
      Search your Bank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Please select your city</ion-list-header>
    <ion-item>
      <ion-label>City</ion-label>
      <ion-select
        value="BANGALORE"
        [(ngModel)]="selectedCity"
        okText="Okay"
        cancelText="Dismiss"
        (ionChange)="changeCity()"
      >
        <ion-select-option value="BANGALORE">BANGALORE</ion-select-option>
        <ion-select-option value="MUMBAI">MUMBAI</ion-select-option>
        <ion-select-option value="CHENNAI">CHENNAI</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-searchbar
        (ionChange)="searchBank($event)"
        debounce="1000"
      ></ion-searchbar>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item lines="none" *ngIf="showLoader"
      ><ion-spinner name="bubbles"></ion-spinner
    ></ion-item>
    <div *ngIf="!showLoader">
      <ion-card *ngFor="let bank of banks">
        <ion-item>
          <ion-label>{{ bank.bank_name }} [IFSC:{{ bank.ifsc }}]</ion-label>
          <ion-button fill="outline" slot="end" (click)="shwoMore(bank)"
            >View</ion-button
          >
        </ion-item>

        <ion-card-content>
          <ion-icon name="pin" slot="start"></ion-icon>
          {{ bank.address }}
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
